body {
	background-color: #DDDDDD
}

.volume-slider {
	margin: 0 auto;
	margin-bottom: 10px;
}

.volume-header {
	width:80px;
	padding-bottom: 28px;
}

.volume-label {
	width: 50%;
	float: left;
	text-align: right;
	font-size: 14;
}

.volume-ammount {
	width: 50%;
	border:0;
	color:#00AAFF;
	font-weight:bold;
	font-size: 14;
	float: right;
	padding-left: 5px;
	background-color: #DDDDDD
}

.volume-button-holder {
	width: 100%;
}

.volume-button-holder p {
	display: table;
	margin: 0 auto;
}

p .ui-button .ui-icon{
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}

.ui-button .ui-icon.mute {
    background-image: url(./images/zero.png);
}

.ui-button.ui-state-active .ui-icon.mute {
    background-image: url(./images/zero_pressed.png);
}

.ui-button .ui-icon.up-slow {
    background-image: url(./images/upSlow.png);
}

.ui-button.ui-state-active .ui-icon.up-slow {
    background-image: url(./images/upSlow_pressed.png);
}
.ui-button .ui-icon.up-fast {
    background-image: url(./images/upFast.png);
}

.ui-button.ui-state-active .ui-icon.up-fast {
    background-image: url(./images/upFast_pressed.png);
}

.ui-button .ui-icon.down-slow {
    background-image: url(./images/downSlow.png);
}

.ui-button.ui-state-active .ui-icon.down-slow {
    background-image: url(./images/downSlow_pressed.png);
}
.ui-button .ui-icon.down-fast {
    background-image: url(./images/downFast.png);
}

.ui-button.ui-state-active .ui-icon.down-fast {
    background-image: url(./images/downFast_pressed.png);
}